  .style1
        {
      
            width: 761px;
            height: 486px;
        }
        .style5
        {
        }
.style6 {
}
        .style7
        {
        }
        .style10
        {
            width: 190px;
        }
        .style12
        {
            height: 29px;
        }
        .style13
        {
            width: 263px;
        }
